apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ebs-rabbitmq-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 4Gi
  storageClassName: "roboshop-dynamic-ebs"  # used in dynamic provisioning